HALL_DOMAIN=core.tymehall.org
HALL_NODE_ID=hall-core-0
HALL_BUILD_COMMIT=unknown
HALL_GITHUB_ADAPTER_ID=github-webhook-v0
HALL_GITHUB_WEBHOOK_SECRET=replace-with-64-hex-characters
HALL_READ_TOKEN=replace-with-64-hex-characters
HALL_DATA_DIR=/var/lib/tyme/hall-core
HALL_MAX_BODY_BYTES=1048576
HALL_LOG_LEVEL=INFO
